#
# SPDX-FileCopyrightText: 2025 The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on early-init
    setprop ro.boot.product.hardware.sku ${ro.boot.hardware.sku}

on fs && property:ro.boot.pbid=Base
    mount overlay overlay /vendor/etc/camera lowerdir=/vendor/etc/camera:/odm/overlayfs_origin/base/etc/camera,context=u:object_r:vendor_configs_file:s0

    setprop vendor.usb.product_string "Nothing Phone (3a)"

on fs && property:ro.boot.pbid=Pro
    mount overlay overlay /vendor/etc/camera lowerdir=/vendor/etc/camera:/odm/overlayfs_origin/pro/etc/camera,context=u:object_r:vendor_configs_file:s0

    setprop vendor.usb.product_string "Nothing Phone (3a) Pro"

on late-fs && property:ro.boot.hardware.sku=JPN
    start gto_secure_element_aidl_service

service gto_secure_element_aidl_service /vendor/bin/hw/android.hardware.secure_element-service.thales
    override
    class hal
    user secure_element
    group secure_element nfc
    disabled

# Sensors
on property:vendor.all.modules.ready=1
    chown system system /sys/devices/platform/soc/ac0000.qcom,qupv3_0_geni_se/a80000.spi/spi_master/spi0/spi0.0/fts_fod_enabled
    chown system system /sys/devices/platform/soc/ac0000.qcom,qupv3_0_geni_se/a80000.spi/spi_master/spi0/spi0.0/fts_fod_pressed
    chown system system /sys/devices/platform/soc/ac0000.qcom,qupv3_0_geni_se/a80000.spi/spi_master/spi0/spi0.0/fts_gesture_single_tap_enabled
    chown system system /sys/devices/platform/soc/ac0000.qcom,qupv3_0_geni_se/a80000.spi/spi_master/spi0/spi0.0/fts_gesture_single_tap_pressed
